<div class="col-md-6 offset-md-3">
    <h3> Update Book </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Book Name</label>
            <input type="text" class ="form-control" id = "bname"
                [(ngModel)] = "books.bname" name = "BookName">
        </div>
    
        <div class="form-group">
            <label>Author</label>
            <input type="text" class ="form-control" id = "Author"
                [(ngModel)] = "books.author" name = "Author">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 